/target/
/build/
**/build/
/cheri-qemu/

# Rust / tooling
**/*.rs.bk
*.log

.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.swp
*.swo
**.*/
!.github/

*.exe
*.pdb
*.dcb
*.img
*.kernel.bin
*.qbin
*.efi
*.elf
*.macho
*.vbc
*.fd

/msys2-sfx.exe
/msys2.exe
/OVMF.fd

/test.q
